@import 'utils/variables';
@import 'base';


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid teal; */
}


.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .link {
  text-decoration: none;
} */

.pointer {
  cursor: pointer;
}

.logo {
  font-family: "Raleway", Roboto, sans-serif;
  font-size: 26px;
  font-style: normal;
  line-height: 1.38;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--txt-c-accent);

  margin-top: 0;
  margin-bottom: 0;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.studio {
  font-family: "Raleway", Roboto, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--txt-c-dark);
}

.studio.foot {
  color: var(--bgc-main);
}

/* *logo ============================================*/
/* .logo:hover,
.logo:focus {
  color: var(--txt-c-accent);
} */

header {
  border-bottom: 1px solid var(--border-color);
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ?.header-cont > .auth-nav {
  margin-left: auto;
} */

/* *main-nav ====================================*/
.main-nav {
  display: flex;
  align-items: center;
}

/* *site-nav =====================================*/
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--txt-c-grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;

  transition: color var(--transiton-time) var(--cubic);
}

.site-nav .link.current {
  color: var(--txt-c-accent);
}

.site-nav .link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: var(--txt-c-accent);
}

.header-cont .auth-nav {
  display: flex;
  align-items: center;
}

.auth-nav .item {
  display: flex;
  margin: 0;

  /* align-items: center; */
}

.mail-icon {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.phone-icon {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header-cont .auth-nav .item + .item {
  margin-left: 50px;
  margin-bottom: 0;

  /* padding: 32px 0px; */
}

.auth-nav .link {
  color: var(--txt-c-grey-light);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  padding: 32px 0px;
  white-space: nowrap;

  transition: color var(--transiton-time) var(--cubic);
}

.logo:hover,
.logo:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--txt-c-accent);

  transition: color var(--transiton-time) var(--cubic);
}

/* *hero ====================================*/
.hero {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--txt-c-light);

  font-family: Roboto, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 0 30px 0;
}

.button {
  display: inline-block;

  color: var(--txt-c-light);
  background-color: var(--bgc-accent);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: none;
}

/* *section ==========================*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-top-padding {
  padding-top: 0px;
}

/* *features======================================= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title,
.section-item {
  color: var(--txt-c-grey);
}

.section-title {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.feature-icon-wrap {
  display: flex;
  background-color: var(--bgc-dark);

  margin-bottom: 30px;

  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  height: 70px;

  margin: 25px auto 25px auto;
}

.features .section-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features .content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

/* *work================================================ */

.work {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.work .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);

  position: relative;
  z-index: 0;
}

.photo {
  display: block;
}

.work .discrip {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  z-index: 2;

  top: calc(100% - 70px);
  left: 0;
}

.dis {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txt-c-light);
  padding: 0;
  margin: 0;
}

/* *team=================================================== */

.team-cont {
  background-color: var(--bgc-dark);
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);

  background-color: var(--bgc-main);

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px var(--backdrop-op02);
}

.team-item-name {
  padding: 30px 32px;
}

.team .section-item {
  color: var(--txt-c-grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 10px;
}

.team .content {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social .social-item:not(:last-child) {
  margin-right: 10px;
}

.team .social-link {
  display: flex;

  color: var(--social-color);
  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition: background-color var(--transiton-time) var(--cubic), color var(--transiton-time) var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--bgc-accent);
  color: var(--bgc-main);

  transition: color var(--transiton-time) var(--cubic), background-color var(--transiton-time) var(--cubic);
}

.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* * CLIENTS========================================== */

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  color: var(--social-color);
  border: 1px solid var(--social-color);

  width: 170px;
  height: 90px;

  justify-content: center;
  align-items: center;

  border-radius: 4px;

  transition: color var(--transiton-time) var(--cubic), border var(--transiton-time) var(--cubic);
}

.client-link:hover,
.client-link:focus {
  color: var(--txt-c-accent);
  border: 1px solid var(--txt-c-accent);

  transition: color var(--transiton-time) var(--cubic), border var(--transiton-time) var(--cubic);
}

.client-logo {
  fill: currentColor;
}

/* *footer */

.footer {
  background-color: var(--bgc-hero-footer);

  padding-top: 60px;
  padding-bottom: 60px;
}

/* .footer .container {
  flex-flow: column;
} */

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer .logo.ftr {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
}

.auth-nav.foot-nav {
  flex-flow: column;
  font-style: normal;
}

.footer .auth-nav .item {
  margin: 0 0 9px 0;
  padding: 0;
}

.footer .link.foot-adr {
  margin: 0;
  padding: 0;
}

.auth-nav > .adres {
  display: block;
  color: var(--bgc-main);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 0;
}

.list .foot-adr {
  color: var(--txt-c-address);
}

.footer-adress {
  width: 231px;
  margin-right: 70px;
}

.footer-title {
  color: var(--txt-c-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.footer-social {
  margin-right: 93px;
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  display: flex;

  color: var(--txt-c-light);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;

  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition: background-color var(--transiton-time) var(--cubic);
}

.footer .social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--bgc-accent);

  transition: background-color var(--transiton-time) var(--cubic);
}

.subscribe-wrap {
  display: flex;
  flex-flow: row;
}

.footer-subscribe-input {
  height: 50px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--txt-c-address);

  padding-left: 15px;
  margin-right: 12px;
}

.subscribe-btn {
  display: flex;
  height: 50px;
  width: 200px;
  text-align: left;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--bgc-main);
  background-color: var(--bgc-accent);
  box-shadow: 0px 4px 4px var(--btn-boxshadow-color);
  border-radius: 4px;
  border: none;

  padding: 0 29px;

  position: relative;
}

.subscribe-icon {
  fill: currentColor;

  width: 24px;
  height: 24px;
  right: 28px;

  position: absolute;
}

/* !portfolio ----------------------------------------------------------------------*/

/* *buttons==================================== */
.filter-btn {
  display: inline-block;

  color: var(--txt-c-grey);
  background-color: var(--bgc-dark);
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;

  border-radius: 4px;

  transition: background-color var(--transiton-time) var(--cubic), color var(--transiton-time) var(--cubic), box-shadow var(--transiton-time) var(--cubic);
}

.btn-container .item:not(:last-child) {
  margin-right: 8px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--txt-c-light);
  background-color: var(--bgc-accent);
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: background-color var(--transiton-time) var(--cubic), color var(--transiton-time) var(--cubic), box-shadow var(--transiton-time) var(--cubic);
}

/* *cards================================== */

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.projects .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.projects-link {
  display: block;
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .project-item {
  color: var(--txt-c-grey);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 0 0 4px 0;
  padding: 0 0 0 0;
}

.projects .project-type {
  color: var(--txt-c-grey-light);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 0;
  padding: 0;
}

.projects .item-name {
  display: block;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding: 20px 24px;
}

.thumb {
  position: relative;
  overflow-y: hidden;
  z-index: 0;
}

.product-overlay {
  position: absolute;
  display: inline-block;

  /* content: ""; */

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--txt-c-light);

  background-color: var(--overlay);

  padding: 64px 20px;

  top: 0;
  left: 0;

  transform: translateY(101%);
  transition: transform var(--transiton-time) var(--cubic);

  z-index: 2;
}

.overlay-text {
  margin: 0;
}

/* .thumb::before {
  position: absolute;
  display: inline-block;
  content: "";

  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--transiton-time) var(--cubic);

  z-index: 1;
} */

/* .projects-link:hover .thumb::before,
.projects-link:focus .thumb::before, */
.projects-link:hover .product-overlay,
.projects-link:focus .product-overlay {
  transform: translateY(0);
}

/*  * МОДАЛЬНОЕ ОКНО======================================================== */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--backdrop-op02);

  opacity: 1;
  transition: opacity 500ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background: var(--bgc-main);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px var(--backdrop-op02);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms var(--cubic);

  padding: 40px 40px 40px 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bgc-main);
  outline: none;
  fill: currentColor;

  padding: 0;

  transition: color var(--transiton-time) var(--cubic);
}

.close-btn:hover,
.close-btn:focus {
  color: var(--txt-c-accent);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--txt-c-grey);
  padding: 0;
  margin: 0 0 12px 0;
}

.modal-form .item {
  display: flex;
  flex-direction: column;
}

.modal-label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  color: var(--txt-c-grey-light);
  margin: 0 0 4px 0;
}

.modal-input {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--transiton-time) var(--cubic);
}

.label-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;

  fill: currentColor;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  transition: color var(--transiton-time) var(--cubic);
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--bgc-accent);
}

.modal-input:focus ~ .modal-icon,
.modal-input:hover ~ .modal-icon {
  color: var(--bgc-accent);
}

.text {
  height: 40px;
  padding-left: 40px;
}

.modal-input.area {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;

  height: 120px;
  padding: 12px 16px;
}

.modal-input.area::placeholder {
  color: var(--placeholder-color);
}

.modal-check:focus ~ .modal-icon-check {
  border: 1px solid black;
}

.modal-check:focus ~ .modal-icon-noncheck {
  border: 1px solid black;
}

.modal-check-label {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--txt-c-grey-light);

  margin-left: 36px;
}

.modal-check-link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--txt-c-accent);
  text-decoration-line: underline;
}

.modal-chekbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-icon-check,
.modal-icon-noncheck {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 13px;
  transition: opacity var(--transiton-time) var(--cubic);
}

.modal-icon-check {
  opacity: 0;
}

.modal-icon-noncheck {
  opacity: 1;
}

.modal-check:checked ~ .modal-icon-check {
  opacity: 1;
}

.modal-check:checked ~ .modal-icon-noncheck {
  opacity: 0;
}

.modal-submit {
  display: block;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--txt-c-light);
  background: var(--bgc-accent);
  box-shadow: 0px 4px 4px var(--btn-boxshadow-color);
  border-radius: 4px;
  border: none;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
