
.team-social {
  display: flex;
  justify-content: center;
}

.team-social .social-item:not(:last-child) {
  margin-right: 10px;
}

.team-list .social-link {
  display: flex;

  color: var(--social-color);
  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition: background-color var(--transiton-time) var(--cubic), color var(--transiton-time) var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--bgc-accent);
  color: var(--bgc-main);

  transition: color var(--transiton-time) var(--cubic), background-color var(--transiton-time) var(--cubic);
}

.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

// FOOTER SOCIAL*********************


.footer-social {
  margin-right: 93px;
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  display: flex;

  color: var(--txt-c-light);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;

  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition: background-color var(--transiton-time) var(--cubic);
}

.footer .social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--bgc-accent);

  transition: background-color var(--transiton-time) var(--cubic);
}